
    <div style="text-align: center">
        <div style="margin:rem 0;font-family: 'Yanone Kaffeesatz', sans-serif;">
            <h1> Pregmetic</h1>
        </div>
        <div style="margin-bottom: 2rem";>
            <span>nav1</span>
            <span>nav2</span>
            <span>nav3</span>
            {%  if not user.is_authenticated  %}
            <a href = "{%  url 'acountapp:login' %}?next ={{ request.path }}">
                <span>login</span>
            </a>

            <a href = "{%  url 'acountapp:create' %}">
                <span>SignUp</span>
            </a>
            {% else %}
            <a href = "{%  url 'acountapp:detail' pk=user.pk %}">
                <span>MyPage</span>
            <a href = "{%  url 'acountapp:logout' %}?next={{ request.path }}">
                <span>logout</span>
            </a>
            {% endif %}
        </div>
    </div>

